
body{
    width: 100%;
}

/*formato de tamaño de la barra lateral*/
.barra-lateral{
    width: 18%;
    height: 100vh;
    background-color: #F45B0D;
}

/*formato de tamaño del main*/
.main-section{
    width: 82%;
    height: 100vh;
    background-color: #ffff
    ;
}

/* Estilo del menu */
.header{
    font-size: 1.3rem;
    display: flex;
    width: 100%;
    height: 18%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}
	
/* Estilos del texto del logocon gradiente */
.gradient-text {
    font-size: 45px;
    line-height: 1.2;
    background: linear-gradient(to bottom, #7500BD, #F45B0D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 20px;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 700; 
}

.header-izquierda {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #7500BD;
    font-weight: bolder;
}

/* Estilos de unicamente los parrafos de la parte izquierda del encabezado */
.header-izquierda p {
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* Semibold */
}

/* Estilos de la parte derecha del encabezado */
.header-derecha {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Estilos del ícono de usuario */
.user-icon{
    height: 3rem;
    width: 3rem;
    border: solid 3px #2e015b;
    border-radius: 30px;
}


/* Estilo del h1*/
h1{
    font-size: 2.2em;
    padding: 20px;
    color: #ffffff;
}

/* Estilo de las opciones en la barra lateral */
.aside-options{
    padding: 0 20px;
    height: 55%;
    border-bottom:4px solid #ffffff  ;
    margin-bottom: 15px;
}
/* Estilo de los enlaces */
a{
    text-decoration: none;
}

/* Estilo de las opciones de enlace */
.a-options{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* Estilo de cada opción en la barra lateral */
.option{
    height: 3rem;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

/*estilo del ícono de eventos */
.events-icon{
    width: 1.5rem;
    height: 1.5rem;
}

/*estilo del ícono de inicio */
.home-icon{
    height: 2rem;
    border-radius: 50px;
}

/* Estilo del contenedor de íconos */
.container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #772BA9;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;

}

/* Estilo del ícono de suma de crear evento */
#plus{
    font-size: 2.5rem;
    font-weight: 1000;
    color: #fff;
}

/* Tamaño y estilo del ícono de reloj */
.clock-icon{
    height: 2.1rem;
    width: 2.1rem;
}

/* Estilo de la sección de soporte en la barra lateral */
.aside-support{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    color: white;
}

/*estilo del ícono de usuario */
.user-icon{
    height: 3rem;
    width: 3rem;
    border: solid 2px #2e015b;
    border-radius: 25px;
}

/* Margen y tamaño del ícono de configuración */
.setting-icon{
    margin-right: 25px;
    width: 2.5rem;
    height: 2.5rem;
}

/* Estilo de la linea divisisora que esta en el menu */
.division{
    font-size: 2.1rem;
    font-weight: 900;
    color: #772BA9;
}
/*estilos para los parrafos*/
.text-font{
    padding-left: 1.5rem;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

/* Margen y tamaño de las imagenes*/
.setting-img{
    width: 10rem;
    height: 10rem;
    border-radius: 40px;
    padding-left: 1.5rem;
}
/*estilos del h2*/
.style-h1{
    color: #ffffff;
    padding-left: 0.5rem;
    font-family: 'Inter', sans-serif;
}

.barra-morada {
    background-color: #772BA9; /* Color morado */
    color: white;
    text-align: center;
    padding: 20px;
}

.circulos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.circulo {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Asegura que el texto esté centrado debajo de la imagen */
}

.circulo img {
    width: 60%;
    height: 60%;
}

.circulo p {
    margin: 10px 0 0 0;
    color: black;
}


.mis-eventos {
    margin: 20px 20px;
}

.mis-eventos h2 {
    display: inline-block;
    margin: 0;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.mis-eventos .linea-naranja {
    height: 4px;
    background-color: orange;
    width: 100%;
    max-width: 100px; /* Ajusta el ancho según el texto */
    margin-top: 5px; /* Espacio entre el texto y la línea */
}

.imagenes-circulo {
    display: flex;
    justify-content: center;
    gap: 40px; /* Espacio entre las imágenes */
    padding: 20px;
}

.imagen-circulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen-circulo img {
    border-radius: 50%;
    width: 150px; /* Ajusta el tamaño de los círculos según sea necesario */
    height: 150px;
    object-fit: cover;
}

.imagen-circulo h2 {
    margin-top: 10px;
    color: black;
}